/* PrimeKidz - Learning with Fun - kindergarten Education HTML Template */

@media only screen and (max-width: 1400px){

	.video-feature-sec .content-column .inner-column,
	.video-feature-sec .video-column .layer-image{
		right: 0;
	}

	.video-feature-sec .video-column .video-box{
		margin-right: 50px;
	}
}

@media only screen and (max-width: 1368px){

	.learning-skills .left-column .inner-column{
		margin-left: -50px;
	}
	
	.learning-skills .right-column .inner-column{
		margin-right: -50px;
	}
}

@media only screen and (max-width: 1200px){

	.intro-section .text-column .inner-column{
		padding-right: 0;
	}

	.intro-section .image-column .image:nth-child(1),
	.intro-section .image-column .image:nth-child(3){
		display: none;
	}
	
	.video-feature-sec .content-column .inner-column{
		padding-left:20px;	
	}

	.intro-section .image-column .image{
		right: 10px;
		display: block;
	}

	.facilites-section .image-column .layer-image{
		left: 0;
	}

	.gallery-full-width .mixitup-gallery{
		padding: 0 20px;
	}

	.video-feature-sec .video-column .video-box{
		margin-right: 15px;
		margin-left:15px;
	}

	.video-feature-sec .content-column .inner-column{
		padding-top: 50px;
	}

	.news-block .detail-column p{
		padding-right: 0;
	}
	
	.learning-skills .left-column .inner-column{
		margin-left: 0px;
	}
	
	.learning-skills .right-column .inner-column{
		margin-right: 0px;
	}
}

@media only screen and (min-width: 768px){

	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){

	.fixed-header .sticky-header,
	.sticky-header{
		display: none !important;
	}

	.intro-text p br{
		display: none;
	}

	.main-header .nav-outer{
		width: 100%;
	}

	.main-header .main-box .logo-box{
		width: 100%;
		text-align: center;
	}

	.main-menu .navigation > li{
		margin-left:20px;
		padding:20px 0;
	}

	.main-menu .navigation > li:first-child{
		margin-left: 0;
	}

	.main-header .nav-outer .btn-box{
		padding: 10px 0;
	}

	.facilites-section .image-column{
		position: relative;
		padding: 0;
		width: 100%;
	}

	.facilites-section .image-column .image-box{
		display: block;
		position: relative;
		width: 100%;
	}

	.intro-section .image-column .image{
		left: auto;
		right: auto;
		margin: 0 auto;
		display: inline-block;
	}

	.intro-section .text-column blockquote cite{
		text-align: center;
		margin-top: 10px;
		margin-right: 0;
	}

	.news-block .detail-column .btn-box,
	.news-block .detail-column p,
	.intro-section .text-column blockquote h3,
	.intro-section .image-column .inner-column{
		margin: 0;
		text-align: center;
	}

	.news-block .detail-column p{
		margin-bottom: 10px;
	}

	.fact-counter .row{
		margin: 0 -15px;
	}

	.fact-counter .column{
		padding: 0 15px;
	}

	.feature-section .image-column .inner-column{
		margin: 0;
		text-align: center;
	}

	.main-footer .about-widget .icon,
	.sec-title p br,
	.sec-title .icon,
	.sec-title .icon-1,
	.sec-title .icon-2,
	.top-right .social-icon-one,
	.facilities .facility-block:before,
	.main-menu .navigation > li > a:before,
	.facilites-section .image-column .layer-image,
	.intro-section .text-column .icon-2,
	.intro-section .text-column .icon-1,
	.anim-icons{
		display: none;
	}

	.subscribe-section .form-column, 
	.subscribe-section .title-column{
		text-align: center;
	}

	.main-footer .footer-bottom .footer-links,
	.video-section .content-box .title-box,
	.video-section .content-box .btn-box{
		width: 100%;
		text-align: center;
	}

	.subscribe-section .form-column, 
	.subscribe-section .title-column{
		text-align: center;
	}

	.subscribe-form{
		margin: 0;
	}

	.main-footer .about-widget{
		padding: 0;
		max-width: 600px;
	}

	.main-footer .footer-bottom .copyright-text,
	.main-footer .footer-bottom .footer-links li{
		display: inline-block;
		float: none;
	}

	.facilities .facility-block{
		padding-bottom: 0;
		margin-bottom:60px;
	}
	
	.facilities .facility-block:hover .image-box{
		transform:scale(1) translateY(0);	
	}

	.video-feature-sec .video-column, 
	.video-feature-sec .content-column{
		width: 100%;
	}	

	.video-feature-sec .video-column{
		text-align:center;	
	}
	
	.video-feature-sec .video-column .video-box{
		float: none;	
		display: inline-block;
    	left: 0%;
	}

	.video-feature-sec .content-column .inner-column{
		max-width: 100%;
	}

	.learning-skills .center-image .inner-box{
		margin: 0;
	}

	.blog-post .news-block-two,
	.blog-post .news-block-two .lower-content .text,
	.course-detail .price-column .inner-box{
		padding-right: 0;
	}

	.course-detail .price-column .price{
		margin-right: 20px;
	}

	.blog-content{
		padding-right: 15px;
	}
	
	.course-detail .price-column{
		width:100%;	
	}
	
	.course-detail .price-column .inner-box{
		text-align:left;	
	}

}

@media only screen and (max-width: 767px){

	.top-right .social-icon-one{
		display: block;
	}

	.top-right{
		width: 100%;
	}

	.main-header .nav-outer .btn-box,
	.top-left{
		display: none;
	}

	.main-header .main-box .logo-box{
		width: auto;
		padding: 20px 0;
	}
	
	.main-header .nav-outer{
		width:100%;
		margin-top:-65px;
	}
	
	.main-menu .collapse {
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
	   max-height:320px;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:0px 0px 10px;
		right:0px;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:20;
		border:1px solid #ffffff;
		float:none;
		margin:0px 0px 0px 0px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		background:#f73f3f;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-size:15px !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#333333;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul > li:first-child,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:first-child{
		border-top:none !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px !important;
		line-height:22px;
		color:#ffffff;
		background:#333333;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff5926;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#333333;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before,
	.main-slider .bordered-layer{
		display:none !important;	
	}
	
	.main-header .main-menu{
		padding-top: 0px;
		width: 100%;
		margin: 0px;
	}

	.page-title{
		padding:40px 0 60px;
	}
	
	.page-title h1{
		font-size: 40px;
		line-height: 1.2em;
	}

	.main-slider h2{
		font-size: 34px !important;
		line-height: 1.4em;
	}

	.main-slider h4{
		font-size: 18px;	
	}

	.course-detail .course-price .title-column h2,
	.intro-text h2,
	.call-to-action h2,
	.video-section .content-box .title-box h2{
		font-size: 30px;
		line-height: 1.2em;
		margin-bottom: 20px;
	}

	.feature-section .feature-column h2,
	.testimonial-section .sec-title h2,
	.sec-title h2{
		font-size: 36px;
	}

	.sidebar-page-container{
		padding: 60px 0 10px;
	}

	.main-footer .widgets-section,
	.news-section{
		padding: 60px 0 0;
	}

	.subscribe-section,
	.contact-page-section,
	.learning-skills,
	.gallery-grid-section,
	.courses-section,
	.feature-section,
	.gallery-full-width,
	.facilites-section,
	.intro-section{
		padding: 60px 0;
	}

	.staff-section,
	.classes-section,
	.info-section{
		padding: 60px 0 20px;
	}

	.intro-section .text-column blockquote h3{
		font-size: 22px;
		line-height: 1.3em;
	}

	.news-block .detail-column p,
	.news-block .detail-column .btn-box{	
		text-align: left;
	}

	.news-block .content-column .info-column .inner-column{
		padding-left: 0;
	}

	.news-block .detail-column,
	.news-block{
		margin-bottom: 30px;
	}

	.feature-section .feature-column{
		padding-bottom: 60px;
	}

	.feature-section .feature-column .inline-icon,
	.feature-section .feature-column .icon-1,
	.feature-section .feature-column .icon-2{
		display: none;
	}

	.learning-skills .right-column .skill-block .inner,
	.skill-block .inner{
		padding-right: 0;
		padding-left: 0;
		text-align: center;
	}

	.learning-skills .right-column .skill-block .icon,
	.skill-block .icon{
		position: relative;
		margin-bottom: 20px;
	}

	.gallery-full-width .load-more,
	.gallery-grid-section .styled-pagination{
		margin-top: 40px;
	}

	.author-box .author-info{
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}

	.author-box .inner{
		padding-right: 0;
	}

	.author-box .author-info .social-icon-three{
		margin-top: 10px;
		display: inline-block;
	}

	.learning-skills .right-column{
		padding-top: 0;
	}

	.main-slider p br{
		display: none;
	}

}

@media only screen and (max-width: 599px){
	.main-header .header-top .top-left ul li{
		margin: 0;
    	width: 100%;
	    padding: 10px 0;
    	line-height: 20px;
    }

    .main-slider h2{
		font-size: 24px !important;
		line-height: 1.4em;
		text-shadow: none;
		-webkit-text-stroke: 1px #343f0a;
	}

	.main-slider p{
    	font-size: 14px;
    	line-height: 1.3em;
    }

	.subscribe-section .title-column h2{
		font-size: 30px;
		line-height: 1.2em; 
		margin-bottom: 10px;
	}

	.mixitup-gallery .filters li{
		margin: 0 10px 10px;
	}

	.call-to-action .link-box a{
		width: 100%;
		text-align: center;
	}

	.call-to-action .link-box .icon{
		margin-top: 20px;
	}

	.course-block .lower-content{
		padding: 20px 15px;
	}

	.course-detail .price-column .theme-btn,
	.course-detail .price-column .price{
		display: block;
		margin-right: 0;
		text-align: center;
	}

	.course-slider .slide-item .course-info li{
		display: block;
		padding:0;
	}

	.course-slider .slide-item .course-info{
		padding: 30px 0 40px;
	}

	.news-block-two .lower-content .title h3{
		font-size: 24px;
		line-height: 1.2em;
	}

	.post-pagination h3,
	.post-pagination .by{
		display: none;
	}

	.blog-post blockquote{
		padding: 20px;
		font-size: 20px;
    	line-height: 1.2em;
    	text-align: center;
	}

	.blog-post blockquote:before{
	    position: relative;
	    left: 0;
	    top: 0;
	    display: block;
	    text-align: center;
	    margin: 0 auto 10px; 
	}

	.blog-post .default-tags,
	.blog-post .social-icon-two{
		width: 100%;
		text-align: center;
	}

	.blog-post .default-tags li,
	.blog-post .social-icon-two li{
		float: none;
		display: inline-block;
	}

	.comments-area .comment-box .author-thumb{
		position: relative;
	}

	.comments-area .comment{
		padding-left: 0;
	}

	.scroll-to-top{
		display: none !important;
	}

	.info-section .info-block .inner-box{
		padding:30px 15px;
	}

	.main-footer .posts-widget .widget-content{
		padding-right: 0;
	}

	.contact-page-section .info-column .social-icons,
	.contact-page-section .contact-info-list li{
		padding: 20px 15px;
	}

	.contact-page-section .contact-info-list li .info{
		padding-left: 0;
	}

	.map-canvas{
		height: 350px;
	}
	
	.subscribe-form .form-group input[type="text"],
	.subscribe-form .form-group input[type="email"],
	.subscribe-form .form-group input[type="search"]{
		padding:15px 20px;
		margin-bottom: 5px;	
	}

	.subscribe-form .form-group button{
		position: relative;
		display: block;
		right: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 479px) {

	.page-title h1{
		font-size: 28px;
		-webkit-text-stroke: 1px #343f0a;
	}
	
    .main-slider h2{
		font-size: 16px !important;
		text-shadow: none;
		-webkit-text-stroke: 1px #343f0a;
	}

    .main-slider h4{
		font-size: 20px;	
	}

	.feature-section .feature-column h2, 
	.testimonial-section .sec-title h2, 
	.sec-title h2{
		font-size: 28px;
		line-height: 1.2em;
	}

	.subscribe-section .title-column p{
		font-size: 16px;
	}

	.subscribe-form .form-group{
		padding-right: 0;
		background-color: transparent;
	}

	.main-footer .footer-bottom .footer-links li{
		padding-right: 0;
		margin-right: 0;
		width: 100%;
	}

	.main-footer .footer-bottom .footer-links li:before{
		display: none;
	}

	.main-footer .footer-bottom .copyright-text p{
		line-height: 1.3em;
		margin-bottom: 10px;
	}

	.feature-section .feature-column h2{
		font-size: 26px;
	}

	.accordion-box .block .acc-btn{
		font-size: 16px;
		line-height: 20px;
		padding: 14px 10px;
		padding-right: 35px;
	}

	.author-box{
		text-align: center;
	}

	.accordion-box .block .content{
		padding: 15px;
		
	}

	.accordion-box .block .content p{
		font-size: 14px;
		line-height: 20px;
	}

	.accordion-box .block .acc-btn .icon-outer{
		width: 30px;
		font-size: 12px;
		text-align: left;
	}

	.author-box .author-info{
		padding-left: 0;
		margin-right: 0;
	}

	.author-box .author-info .thumb{
		position: relative;
		margin-bottom: 10px;
	}
	
	.main-header .dropdown-menu{
		width:280px;	
	}
}
